@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(52, 41, 92);
}

button {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  display: flex;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 25rem;
  border-radius: 5px;
  border: 1px solid black;
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
  font-weight:lighter;
}

@media (max-width: 400px) {
  h1 {
      font-size: 150%;
      margin: auto;
  }

  h2 {
      font-size: 90%;
      margin: 1rem;
  }
  
  input[type="text"] {
    width:18rem;
  }
}